.marquee {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.track {
  display: inline-flex;
  white-space: nowrap;
  animation: marquee 60s linear infinite;
}

.content {
  font-size: 3rem; /* bisa ganti */
  font-weight: 800;
  color: rgba(255, 255, 255, 0.1); /* seperti devraj */
  padding-right: 2rem; /* jarak antar content */
  letter-spacing: 2px;
  pointer-events: none;
}

@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}


.shiny-text {
  background: linear-gradient(135deg, #ff4dd2, #a855f7, #5b21b6, #ff4dd2);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shimmer 5s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.badge-icon {
  box-shadow: 0 0 18px rgba(0, 251, 255, 0.35);
}


.badge-float {
  animation: float 3s ease-in-out infinite;
}

.badge-float.delay-200 {
  animation-delay: 0.2s;
}

.badge-gradient-border {
  position: relative;
  background-clip: padding-box;
}

.badge-gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1.5px; /* tebal border */
  border-radius: inherit;
  background: linear-gradient(135deg, #c600fd, #00fbff);
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  pointer-events: none;
}

/* glossy shine */
.badge-gradient-border::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(
    120deg,
    rgba(255,255,255,0.35),
    rgba(255,255,255,0.05),
    transparent
  );
  opacity: 0.6;
  pointer-events: none;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.badge-gradient-border::before {
  background-size: 200% 200%;
  animation: gradientMove 6s linear infinite;
}

